/AG_GrammaticalEvolution/.vs
/GrammaticalEvolution/obj/Debug/net6.0/*.cache
/GrammaticalEvolution_Common/obj/Debug/net6.0/*.BuildWithSkipAnalyzers
/GrammaticalEvolution_UnitTests/bin/Debug/net6.0/CoverletSourceRootsMapping
/GrammaticalEvolution/bin/Debug/net6.0
/GrammaticalEvolution_Common/obj
/GrammaticalEvolution_Common/bin/Debug/net6.0
/GrammaticalEvolution_UnitTests/bin/Debug/net6.0/zh-Hant
/GrammaticalEvolution_UnitTests/bin/Debug/net6.0/ru/*.dll
/GrammaticalEvolution_UnitTests/bin/Debug/net6.0
/.vs/ProjectEvaluation
/GrammaticalEvolution_UnitTests/obj/Debug/net6.0
/GrammaticalEvolution/obj
/GrammaticalEvolution_UnitTests/obj
/.vs/AG_GrammaticalEvolution/FileContentIndex/*.lock
/.vs/AG_GrammaticalEvolution/v17/TestStore/0/*.manifest
/.vs/AG_GrammaticalEvolution/v17/*.suo
/.vs/AG_GrammaticalEvolution/v17/TestStore/0/*.testlog
/.vs/AG_GrammaticalEvolution/FileContentIndex/*.vsidx
/.vs/SymbolicRegression_GrammaticalEvolution/FileContentIndex/*.vsidx
/.vs/AG_GrammaticalEvolution/v17/*.v2
/.vs/AG_GrammaticalEvolution/DesignTimeBuild/*.v2
/.vs/SymbolicRegression_GrammaticalEvolution/DesignTimeBuild/*.v2
/.vs/SymbolicRegression_GrammaticalEvolution/FileContentIndex/*.lock
